---
title: "title"
description: "description"
---

- @body_class = 'page-home'
- @page_class = ''


%section.l-module--spaced.aligner
	.l-container.overflow
		%h1
			Scott Savarie
		%h1
			Product Designer
		%ul.jobs-list
			%li.jobs-list-item
				%a.job-link{:href => "http://www.invisionapp.com"}
					%h2
						Product Manager at InVision
					%p
						2016 - Present

			%li.jobs-list-item
				%a.job-link{:href => "http://www.acolorbright.com"}
					%h2
						Designer / Developer at A Color Bright
					%p
						2015 - 2016

			%li.jobs-list-item
				%a.job-link{:href => "http://www.designwithnapkin.com"}
					%h2
						Founder of Napkin
					%p
						2014 - Present

			%li.jobs-list-item
				%a.job-link{:href => "http://www.facebook.com/design"}
					%h2
						Product Designer at Facebook
					%p
						2013 - 2015

			%li.jobs-list-item
				%a.job-link{:href => "http://www.edenspiekerman.com"}
					%h2
						Interaction Designer at Edenspiekermann
					%p
						2012 - 2013

			%li.jobs-list-item
				%a.job-link{:href => "#"}
					%h2
						Freelancer
					%p
						2009 - 2012

	.l-container
		%ul.contact-list
			%li.contact-list-item
				%a.contact-list-link{:href => "http://www.twitter.com/scottsavarie"}
					%span
						Twitter
				%span.bullet
					•
			%li.contact-list-item
				%a.contact-list-link{:href => "http://www.github.com/scottsavarie"}
					%span
						Github
				%span.bullet
					•

			%li.contact-list-item
				%a.contact-list-link{:href => "mailto:scottsavarie@gmail.com"}
					%span
						Email
				%span.bullet
					•

			%li.contact-list-item
				%a.contact-list-link{:href => "http://www.facebook.com/scottsavarie"}
					%span
						Facebook
				%span.bullet
					•

